html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #fdf7f7;
}

.content {
  max-width: 60%;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about,
.skills,
.contact,
.comment {
  padding-top: 1rem;
}

.header,
.footer {
  background: #2c3e50;
  z-index: 1;
  top: 0;
  position: sticky;
}

.skills,
.about {
  background: #1abc9c;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header ul li a, .footer div a {
  display: inline-block;
  margin: 0 8px;
  text-decoration: none;
  color: #fdf7f7;
}

.picture {
  max-width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
}

.text-content {
    flex-direction: column;
}

.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.description h1,
.description p,
.comment h1,
.list-group-item {
  color: #212529;
}

.description p,
.skills p {
  text-align: left;
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.about-text {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 3rem;  
}

.title {
  text-align: center;
  font-size: 2.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.comments-list {
  display: flex;
}

.myButton {
  box-shadow: inset 0px 20px 25px -3px #f7ffe0;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: 6px;
  border: 1px solid #b2b8ad;
  display: inline-block;
  cursor: pointer;
  color: #757d6f;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 24px 76px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #ced9bf;
}

.myButton:hover {
  background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  background-color: #9ba892;
}

.login {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.comments-list {
  display: block;
  width: 100%;
}

.list-group-item {
  margin-bottom: 1rem;
  list-style: none;
  background: beige;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gainsboro;
  text-align: left;
}

.user {
  font-weight: bold;
}

.delete-button {
  float: right;
  font-size: 15px;
  border: none;
  font-weight: 400;
  border-radius: 6px;
  background: beige;
  cursor: pointer;
  outline: none;
}

.textarea {
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 100%;
}

.comment-submit {
  width: 7%;
  padding: 12px 20px;
  margin: 8px 0;
  float: right;
  text-align: center;
  font-size: 1rem;
  box-sizing: content-box;
}

.textarea:focus {
  border: 3px solid #555;
}

.comment-form {
  display: block;
  text-align: center;
}

.comment-submit {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #1abc9c;
  border-color: #1abc9c;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1539px) {
  .comment-submit {
    font-size: 1rem;
    box-sizing: content-box;
  }
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto 1.5rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.selector-div {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
}

.content-footer {
  display: block;
  text-align: center;
  padding: 1rem;
}

.long-text {
  column-count: 2;
}

.select-paragraph {
    color: black;
    margin: 0;
}

#comments-container {
    padding: 0;
}